{% extends "base.html" %}
{% block content %}
<div class="login container d-grid align-items-center justify-content-center">
    <div class="login-container border border-2 rounded-4 p-5">
        <h1 class="login-title fs-2 fw-bold text-body mb-5">Войти в аккаунт</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name(class="form-control focus-ring focus-ring-warning border-warning", placeholder="Имя") }}<br>
                {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password(class="form-control focus-ring focus-ring-warning border-warning", placeholder="Пароль") }}<br>
                {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p class="mb-4">{{ form.remember_me(class="remember form-check-input border-2 border-warning-subtle shadow-none") }} {{ form.remember_me.label(class="form-check-label") }}</p>
            <p class="d-grid gap-2">{{ form.submit(class="btn btn-warning") }}</p>
            <p class="text-center">Нет учетной записи?<br><a class="text-decoration-none link-warning" href="/reg">Зарегистрироваться</a></p>
            {{ message }}
        </form>
    </div>
</div>
{% endblock %}