{% extends "base.html" %} {% block content %}
<div class="login container d-grid align-items-center justify-content-center">
    <div class="login-container border border-2 rounded-4 p-5">
        <h1 class="login-title fs-2 fw-bold text-body mb-5 text-center">
            Вход
        </h1>
        <form action="" method="post">
            <p>
                <input
                    type="text"
                    name="name"
                    placeholder="Имя"
                    autocomplete="off"
                    required
                    class="form-control focus-ring focus-ring-warning border-warning"
                    value="{{ request.form.name or '' }}"
                />
            </p>
            <p>
                <input
                    type="password"
                    name="password"
                    placeholder="Пароль"
                    autocomplete="off"
                    required
                    class="form-control focus-ring focus-ring-warning border-warning"
                />
            </p>
            <p class="mb-4">
                <input
                    type="checkbox"
                    name="remember_me"
                    class="form-check-input focus-ring focus-ring-warning border-2 border-warning-subtle shadow-none"
                    id="remember_me"
                    {%
                    if
                    request.form.remember_me
                    %}checked{%
                    endif
                    %}
                />
                <label for="remember_me" class="form-check-label"
                    >Запомнить меня</label
                >
            </p>
            <p class="d-grid gap-2">
                <button type="submit" class="btn btn-warning fw-bold text-dark">Вход</button>
            </p>
            <p class="text-center">
                Нет учетной записи?<br />
                <a class="text-decoration-none link-warning" href="/reg"
                    >Зарегистрироваться</a
                >
            </p>
            {% if message %}
            <p class="alert alert-warning" role="alert">{{ message }}</p>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
    </div>
</div>
{% endblock %}
