<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <span class="border-bottom border-3 border-warning mb-0 pb-0 h1 fs-1">Kairos</span>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>