<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body">
            <div class="container">
                <span class="border-bottom border-3 border-warning mb-0 pb-0 h1 fs-1">
                    <a class="text-decoration-none text-dark-emphasis" href="/">
                        Kairos
                    </a>
                </span>

                {% if current_user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item mx-2">
                            <a class="nav-link text-dark-emphasis fs-5" href="/courses">Мои курсы</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-dark-emphasis fs-5" href="/profile">Профиль</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-danger fs-5" href="/logout">Выйти</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item mx-2">
                            <a class="nav-link link-warning fs-5" href="/login">Войти</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-dark-emphasis fs-5" href="/reg">Регистрация</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>